* {
    margin: 0;
    padding: 0;

}
body{
    background-color: greenyellow;
}

a{
    text-decoration: none;
    color: black;
}

a.menu-item:hover {
    color: grey;
    border-bottom: 2px solid grey;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(3, 60px) repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) repeat(3, 60px) repeat(2, 1fr);
}
header {
    grid-column: 1 / span 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: goldenrod ;
}
nav {
    
    flex-direction: row;
    width: 100%;
}

nav ul {
    display: flex;
    align-items: space-between;
    justify-content: space-around;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li {
    list-style-type: none;
    padding: 2px;
    margin: 8px;
}
.logo {
    margin: 8px;
}

.menu-item {
    border-bottom: 1px solid transparent;
    margin:
}

.menu-item:hover {
    border-bottom: 2px solid black;

}

.menu-item-container{
    position: relative;
}

.dropdown {
  position: absolute;
  
}

p.dropdown {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 0.8rem;
}
.gameboard {
    grid-area: 3 / 3 / span 3 / span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#box1, #box2, #box4, #box5 {
    border-bottom: 2px solid darkblue;
    border-right: 2px solid darkblue;  
}

#box3, #box6 {
    border-bottom: 2px solid darkblue;
}

#box7, #box8 {
    border-right: 2px solid darkblue;
}





.player-symbol {
    font-size: 2rem;
    width: 100%;
    height: auto;
    text-align: center;
    text-justify: center;
}

.hide {
    display: none;
}