* {
    margin: 0;
    padding: 0;

}
body{
}

a{
    text-decoration: none;
    color: black;
}

a.menu-item:hover {
    color: grey;
    border-bottom: 2px solid grey;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(3, 60px) repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) repeat(3, 60px) repeat(2, 1fr);
}
header {
    grid-column: 1 / span 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(220, 206, 172) ;
}
nav {
    
    flex-direction: row;
    width: 100%;
}

nav ul {
    display: flex;
    align-items: space-between;
    justify-content: space-around;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li {
    list-style-type: none;
    padding: 2px;
    margin: 8px;
}
.logo {
    margin: 8px;
}

.menu-item {
    border-bottom: 1px solid transparent;
    margin: 3px;
}

.menu-item:hover {
    border-bottom: 2px solid black;

}

.menu-item-container{
    position: relative;
}

.dropdown {
  position: absolute;
  
}

p.dropdown, .dropdown li {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 0.8rem;
}
.gameboard {
    grid-area: 3 / 3 / span 3 / span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-bottom-right {
    border-bottom: 2px solid darkblue;
    border-right: 2px solid darkblue;  
}

.border-bottom {
    border-bottom: 2px solid darkblue;
}

.border-right {
    border-right: 2px solid darkblue;
}





.player-symbol {
    font-size: 2rem;
    width: 100%;
    height: auto;
    text-align: center;
    text-justify: center;
}

.end-game-container {
    grid-area: 3 / 2 / span 3 / span 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset {
    grid-area: 6 / 3 / span 2 / span 3;
    height: 80px;
    margin: 15px;
    background-color: goldenrod;
    opacity: 0.8;
}

.reset:hover {
    box-shadow: 5px 5px 8px black;
    opacity: 1.0;
}
.end-game {
    font-size: 1.8rem;
    margin: 15px;
    text-align: center;
}

.hide {
    display: none;
}